body, html {
  height: 100%;
  margin: 0;
  font-family: "Montserrat";
  font-weight: 200;
  background-color: white;
}

h3, h5 {
  font-weight: 400;
  margin: 0;
}

.page-header {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 1em -1em 1em 1em;
  width: 100%;
  z-index: 1;
}

.nav-active {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 5px -1px 12px -5px grey;
}

.page-header__item {
  flex: 0 1 120px;
  text-decoration: none;
}

.logo {
  padding-left: 1em;
  margin: 0;
  font-size: 16px;
  color: white;
}

.logo:hover {
  text-decoration: none;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
  margin-right: 50px;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.navigation-list li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  height: 100%;
  width: 30px;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.navigation-list__item--active {
  text-decoration: underline;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/IMG_6967.jpeg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0 0 10px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.letter {
  text-align: left;
  padding: 5% 7%;
  margin: 0;
}

#workexpereince {
  text-align: center;
  background-color: white;
  color: black;
  height: auto;
  padding-bottom: 50px;
  padding-top: 50px;
}

.worktable {
  table-layout: fixed;
  width: 100%;
  margin-top: 50px;
  border-collapse: separate;
  border-spacing: 0 1em;
}

.workname {
  text-align: center;
}

.worktasks {
  text-align: left;
}

#footer {
  text-align: center;
  background-color: white;
  color: black;
}

.socialicon {
  font-size: 2rem;
  margin: 50px 5px 0 5px;
}

.contact {
  color: black;
}

#skills {
  text-align: center;
  background-color: #B1D0E0;
  height: auto;
  width: 100%;
  box-shadow: 0 0px 10px;
}

.skilltable {
  margin: auto;
}

.skillsli {
  list-style-type: '- ';
  text-align: left;
}

bi-circle-fill {
  color: black;
  font-size: 20px;
}

.languages {
  padding: 0;
}

.language-table {
  margin: auto auto;
}

#downloads {
  text-align: center;
  padding-top: 50px;
}

.pdflinks {
  text-decoration: none;
  color: black;
}

.pdf_ger {
  display: inline-block;
  width: 100px;
  padding-right: 20px;
}

.pdf_eng {
  display: inline-block;
  width: 100px;
}

.pdf_ru {
  display: inline-block;
  width: 100px;
  padding-left: 20px;
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
    flex-direction: row-reverse;
  }

  .navigation-list {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  #menu-toggle~.navigation-list li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.navigation-list li {
    display: block;
    height: 1em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .navigation-list>li {
    display: flex;
    justify-content: center;
    text-align: right;
    margin-right: 0;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .navigation-list>li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .workname {
    width: 10em;
  }
  .worktasks {
    width: 10em;
  }
  .worktable {
    margin-top: 2em
  }
}
