body, html {
  height: 100%;
  margin: 0;
  font-family: "Montserrat";
  background-color: #333333;
}

.navbar {
  padding-top: 20px;
  padding-left: 30px;
}

.navbar.scrolled {
  background-color: #333333;
  transition: background-color 200ms linear;
}

.navbar-brand {
  font-size: 1.25rem;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/workspace.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#aboutme {
  text-align: center;
  background-color: #8bbabb;
  padding-top: 100px;
  padding-bottom: 50px;
}

.letter {
  text-align: left;
  padding: 5% 7%;
  margin: 0;
}

#workexpereince {
  text-align: center;
  background-color: white;
  color: black;
  height: 500px;
}

.experience-image {
  width: 10%;
  margin: 20px;
}

.carousel-item {
    height: 700px;
    width: 100%;
    padding: 7% 15%;
}

.carousel-text {
  font-size: 18px;
}

.fa-chevron-circle-right {
  color: black;
  font-size: 20px;
  margin: 0;
  position: absolute;
  top: 35%;
}

.fa-chevron-circle-left {
  color: black;
  font-size: 20px;
  margin: 0;
  position: absolute;
  top: 35%;
}

#footer {
  text-align: center;
  background-color: #333333;
  color: white;
  padding-bottom: 20px;
}

.socialicon {
  font-size: 2rem;
  margin: 50px 5px 15px 5px;
}

.contact {
  color: white;
}

#skills {
  text-align: center;
  background-color: #8bbabb;
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
  height: 500px;
}

.languages {
  position: absolute;
  top: 100px;
  left: 150px;
  text-align: center;
}

.education {
  position: absolute;
   top: 100px;
   right: 150px;
  text-align: center;
}

.skillslist {
 position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

table {
  margin: auto;
}

ul {
  display:inline-block;
}

li {
  list-style-type: '- ';
  text-align: left;
}
