body, html {
  height: 100%;
  margin: 0;
  font-family: "Montserrat";
  background-color: white;
}

.navbar {
  padding-top: 20px;
  padding-left: 30px;
}

.navbar.scrolled {
  background-color: #041C32;
  transition: background-color 200ms linear;
}

.navbar-brand {
  font-size: 1.25rem;
  color: white;
}

.nav-link {
  color: white;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/IMG_6967.jpeg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#aboutme {
  text-align: center;
  background-color: #B1D0E0;
  padding-top: 200px;
  padding-bottom: 0;
}

.letter {
  text-align: left;
  padding: 5% 7%;
  margin: 0;
}

#workexpereince {
  text-align: center;
  background-color: white;
  color: black;
  height: 500px;
}

.experience-image {
  width: 10%;
  margin: 20px;
}

.carousel-item {
  height: 700px;
  width: 100%;
  padding: 7% 15%;
}

.carousel-text {
  font-size: 18px;
}

.fa-chevron-circle-right {
  color: black;
  font-size: 20px;
  margin: 0;
  position: absolute;
  top: 35%;
}

.fa-chevron-circle-left {
  color: black;
  font-size: 20px;
  margin: 0;
  position: absolute;
  top: 35%;
}

#footer {
  text-align: center;
  background-color: white;
  color: black;
  padding-bottom: 20px;
}

.socialicon {
  font-size: 2rem;
  margin: 50px 5px 15px 5px;
}

.contact {
  color: black;
}

#skills {
  text-align: center;
  background-color: #B1D0E0;
  padding-bottom: 50px;
  height: auto;
  width: 100%;
}

.languages {
  float: left;
  padding-top: 5%;
  padding-left: 15%;
  text-align: center;
}

.education {
  float: right;
  padding-top: 5%;
  padding-right: 15%;
  text-align: center;
}

.skillslist {
  clear: both;
  text-align: center;
  padding-top: 5%;
}

table {
  margin: auto;
}

ul {
  display: inline-block;
}

.skillsli {
  list-style-type: '- ';
  text-align: left;
}

bi-circle-fill {
  color: black;
  font-size: 20px;
}

td {
  text-align: left;
}

#downloads {
  text-align: center;
}

.pdf_ger {
  display: inline-block;
  width: 100px;
  padding-right: 20px;
}

.pdf_eng {
  display: inline-block;
  width: 100px;
}

.pdf_ru {
  display: inline-block;
  width: 100px;
  padding-left: 20px;
}
